# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/pages/archive
/coverage
temp.js
pages/temp.js
/pages/api/testing

# next.js
/.next/
/.next
/out/
