@tailwind base;
@tailwind components;
@tailwind utilities;

/* Typewriter effect based on CSS-Tricks */
@layer utilities {
  .typewriter {
    overflow: hidden;
    border-right: 0.15em solid #fbbf24;
    white-space: nowrap;
    display: inline-block;
    margin: 0 auto;
    letter-spacing: 0.05em;
    animation: typing 3s steps(30, end), blink-caret 0.75s step-end infinite;
  }

  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #fbbf24; }
  }
}